@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  @apply text-[#0f0f0f] bg-[#f6f6f6];
  @apply dark:text-[#f6f6f6] dark:bg-[#2f2f2f];
}

.prose {
  a {
    font-weight: 500;
    @apply text-[#646cff];
    @apply hover:text-[#535bf2] dark:hover:text-[#24c8db];
    text-decoration: inherit;
  }
  h1 {
    text-align: center;
  }
}

input,
button {
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  @apply text-[#0f0f0f] bg-[#ffffff];
  @apply dark:text-[#ffffff] dark:bg-[#0f0f0f98];
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  @apply hover:border-[#396cd8];
  @apply active:border-[#396cd8] active:bg-[#e8e8e8];
  @apply dark:active:bg-[#0f0f0f69];
}
