@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-primary-foreground {
    @apply text-[#0f0f0f];
    @apply dark:text-[#f6f6f6];
  }
  .bg-primary-background {
    @apply bg-[#f6f6f6];
    @apply dark:bg-[#09090B];
  }
}

@layer components {
  .iconButton {
    @apply p-2;
    @apply inline-flex items-center justify-center whitespace-nowrap;
    @apply rounded-md;
    /* @apply  ring-offset-green-400 focus-visible:ring-red-400;  */
    @apply transition-colors;
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
    @apply disabled:pointer-events-none disabled:opacity-50;
    @apply text-primary-foreground hover:bg-gray-200 dark:hover:bg-gray-700;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  @apply text-primary-foreground bg-primary-background;
}

.prose {
  a {
    cursor: pointer;
    font-weight: 400;
    /* TODO: apply our brand color */
    @apply text-blue-400;
    @apply hover:text-blue-500 dark:hover:text-blue-300;
    @apply hover:underline;
  }
}
